<app-toolbar></app-toolbar>
<div
  style="
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <app-time></app-time>
</div>
<!-- <div style="height: 100vh; display: flex; flex-direction: column">
  <div
    style="
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div style="width: 50%; text-align: center">
      <app-time></app-time>
    </div>
  </div>
</div> -->

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular Clock</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div style="height: 100vh">
  <mat-grid-list cols="1" rowHeight="1:1" style="max-height: calc(100% - 20px)">
    <mat-grid-tile
      [style.justify-content]="'center'"
      [style.align-items]="'center'"
    >
      <div>Hello, World!</div>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
